/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
* {
  box-sizing: border-box;
  
}


html, body {
  background-color:hsla(225, 68%, 25%, 1);
  height:100%;
  margin:0;
  padding:0;
}

body {
  font-family: Avenir,helvetica, arial, sans-serif;
    color:white;
  margin: 25px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  margin:0;
  -webkit-font-smoothing:antialiased
  
}

table {
  layout-fixed;
}
.th--score {
  width: 200px;
}
meter {
  width: 20vw;
}
span.meter, span.meter__inner { display:inline-block; }

span.meter {
  background: gray;
}
span.meter__inner { width: 50%; background: purple; }

section {
  display:flex;
  justify-content:center;
  align-items:center;
}

h1 {
  font-weight: bold;
  color: pink;
  font-size:16px;
  margin:20px;
}

#results {
  background-color:hsla(217, 95%, 63%, 1);
}





.wrapper {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  min-width: 380px;
}

h2 {
  font-weight:200;
  color:white;
  font-size:21px;
}

form{
  overflow:hidden;
}

fieldset {
  border:none;
  overflow:hidden;
  margin-bottom:40px;
  width:45%;
  float:left;
  // background:url(https://cdn.hyperdev.com/43cbc4ff-8131-436e-943a-21e8bac7f71a%2Ficon_cross.svg) center 90px no-repeat;
  background-size:20px 20px;
  transition:all .3s ease;
  
}

fieldset:first-of-type {
  margin-right:9%;
}



fieldset div {
  width:42%;
  float:left;
  position:relative;
}

fieldset div:first-of-type {
  margin-right:16%;
}

input[type=number], form span {
  padding:.3em 0 0 0;
  color:white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  border:none;
  border-bottom:solid 5px hsla(227, 100%, 71%, 1);
  background-color:transparent;
  margin-bottom:5px;
  text-align:left;
  display:inline-block;
  width:100%;
  font-size:3em;
  position:relative;
  box-sizing:border-box;
  -webkit-appearance:none;
  transition:all .2s ease;
  outline:none;
}

input[type=submit] {
    background-color: transparent;
    border: solid 3px white;
    font-size: 24px;
    padding: 1em 2em;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.9);
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition:all .3s ease;
    position:relative;
    cursor:pointer;
}

input[type=submit]:hover {
    border: solid 3px hsla(192, 78%, 51%, 1);
    color:hsla(192, 78%, 51%, 1);
}


input[type=submit]:active, input[type=submit]:focus {
    top:1px;
}

.submitted input[type=submit] {
  opacity:0;
  pointer-events:none
}

.submitted fieldset{
  margin-top:60px;
}

fieldset:first-of-type input{
  text-align:center;
}

input[type=number]:hover {
  border:none;
  border-bottom:solid 5px white;
}

input[type=number]:active, input[type=number]:focus {
  border:none;
  border-bottom:solid 5px hsla(189, 100%, 61%, 1);
}

form span {
  font-weight: 100;
  font-size: 19px;
  color: hsla(226, 35%, 40%, 1);
  position: absolute;
  top: 40px;
  left: 100%;
  width: 106px;
}

label {
  display:block;
  color:rgba(255,255,255,.8);
  margin-bottom:5px;
  display:block;
  font-size:1.2em;
  font-size:14px;
  font-weight:100;
}

label em {
  color:hsla(192, 48%, 51%, 1);
  font-style:normal;
}


/* Results */

#results span {
  color:white;
  display:block;
  font-weight:100;
  margin-bottom:35px;
}

#basic-summary {
  font-size:21px;
}

.sayings {
  font-size:48px;
}

#results {
  height:0%;
  overflow:hidden;
  transition:all .6s ease;
  flex-direction: column;
  align-items: baseline;
}

#results.open {
  height:70%;
}

strong{
  position:relative;
  display:inline-block;
}

#results strong::after {
  display:block;
  content:'';
  height:4px;
  background-color:white;
  bottom:0px;
  position:absolute;
  width:100%;
}
#results #calculatorResults strong::after {
  height:2px;
}